src/main/mule/mulebasics.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="239049e9-21a6-403e-be3b-294fe3cf700c" >
		<http:listener-connection port="8081" host="0.0.0.0"/>
	</http:listener-config>
	<flow name="mulebasicsFlow" doc:id="0850871b-046b-4dd2-a3e2-b308ef31b874" >
		<http:listener doc:name="Listener" doc:id="03899f50-6c32-4835-b43e-11ce7c5b20ac" path="/hello" config-ref="HTTP_Listener_config"/>
		<set-payload value="#['Hello' ++ attributes.queryParams.name]" doc:name="Set Payload" doc:id="d782314a-9c6b-4cd3-a45d-dfcdd2458bdc" />
		<logger level="INFO" doc:name="Logger" doc:id="f25c3573-a41f-41d0-aebd-41462ad938b5" message="#[attributes.queryParams.name]"/>
	</flow>
</mule>
